<!DOCTYPE html>
<html>
  <head>
    <title>MINIBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="javascript.js"></script>
  </head>

  <body>
    
      <header>
          <div class="header-left">
            <h1><a href="/">MINI-BLOG</a></h1>
          </div>
          
          <%if user_signed_in? %>
          
          <div class="header-right">
              <ul>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><a href="/users/<%= current_user.id %>"><%= current_user.nickname %> さんのマイページ</a></li>
              </ul>
          </div>
          <% else %>
          <div class="header-right">
              <ul>
              <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
              </ul>
          </div>
          <% end %>
          
      </header>    
    
    
    <%= yield %>
  </body>
</html>
